[Unit]
Description=Player Service
After=network.target pulseaudio.service rabbitmq-server.service internet_conn.service
Requires=rabbitmq-server.service

[Service]
Environment="DISPLAY=:0"
ExecStartPre=/bin/sleep 60
ExecStart=/usr/bin/python3 /dist/player.py
Restart=always
TimeoutStartSec=900
RestartSec=3

[Install]
WantedBy=default.target
